name: Build

on:
  push:
    branches: [main]
    paths-ignore:
      - 'Sample/**'
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-dotnet:
    name: Build Extension
    runs-on: ubuntu-latest

    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - uses: actions/setup-dotnet@v4
        with:
            dotnet-version: '9.0.x'

      - name: Build
        run: |
          dotnet build src/EntitlementManagement.csproj --configuration Release

  publish-local:
    name: Publish Extension Locally
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - uses: actions/setup-dotnet@v4
        with:
            dotnet-version: '9.0.x'

      - name: Install Bicep
        run: |
          curl -Lo bicep https://github.com/Azure/bicep/releases/latest/download/bicep-linux-x64
          chmod +x ./bicep
          sudo mv ./bicep /usr/local/bin/bicep
          bicep --version

      - name: Publish Extension
        shell: pwsh
        run: |
          $env:BICEP_TRACING_ENABLED = "true"
          ./Scripts/Publish-Extension.ps1 -Target "./entitlementmgmt-ext"

      - name: Upload Extension Artifact
        uses: actions/upload-artifact@v4
        with:
          name: entitlementmgmt-extension
          path: ./entitlementmgmt-ext
          retention-days: 7
